# History files
*.Rhistory

# Session Data files
.RData

# RStudio files
.Rproj.user/

# Temporary files
.clangd/*
\#*\#
*~

# Documentation files
README*.html
vignettes/*.html
vignettes/*.pdf
vignettes/*.R
doc*
pkgdown/*
!pkgdown/extra.css

# Development files
Meta
tests/testthat/*.rda
tests/testthat/devel-environment

# Compilation files
src/compile_commands.json
*.o
*.so
*.dll

docs
