# History files
*.Rhistory

# Session Data files
.RData

# RStudio files
*.Rproj
.Rproj.user/

# Temporary files
.clangd/*
\#*\#
*~

# Documentation files
README*.html
vignettes/*.html
vignettes/*.pdf
!vignettes/diseq.pdf
vignettes/*.R
doc*
docs
pkgdown/*
!pkgdown/extra.css

# Development files
Meta
tests/testthat/*.rda
tests/testthat/devel-environment

# Compilation files
src/compile_commands.json
*.o
*.so
*.dll

# Autoconf files
configure
src/Makevars
autom4te.cache
config.log
config.status
aclocal.m4
doc
/doc/
/Meta/
